* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    /* Content */

    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* background */

    --bg-primary: #020202;
    --bg-secondary: #111012;
    --bg-tertiary: #24222E;
    --bg-brand: #C58DE7;
    --bg-gray: #3D3D3D;

    /* acent */

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* gradient */
    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-bg: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);


    /* familias do projeto 
    Roboto Mono - overline
    Roboto Flex - Paragrafos
    Sora - Display
    */

    --display-lg: 900 72px/130% 'Sora', sans-serif;
    --display-md: 900 40px/130% 'Sora', sans-serif;
    --display-sm: 700 32px/130% 'Sora', sans-serif;

    --roboto-Mono: 700 16px/150% 'Roboto Mono', sans-serif;

    --pl: 500 16px/150% 'Roboto Flex', sans-serif;
    --pm: 500 14px/150% 'Roboto Flex', sans-serif;
    --ps: 500 12px/150% 'Roboto Flex', sans-serif;
    --label-medium: 700 20px/150% 'Roboto Flex', sans-serif;
    --label-small: 700 16px/150% 'Roboto Flex', sans-serif;
}


body{
    background-color: var(--bg-primary);
    font-family: 'Roboto Flex', sans-serif;
    font: var(--pm);
    color: var(--content-primary);
}

main {
    max-width: 390px;
    height: 100vh;
    padding-block: 44px;
    padding-inline: 25px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5px;
    margin-bottom: 40px;
    & img {
        width: 38px;
        height: 38px;
    }

    & h3 {
        font: var(--display-sm);
        font-size: 24px;
        letter-spacing: -1px;
    }
}

.hidden {
    display: none;
}