header {
    margin-bottom: 42px;

    width: 100%;
    
    & .intro {
        & p {
            background: var(--gradient-content);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font: var(--roboto-Mono);
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        & h1 {
            font: var(--display-md);
            text-transform: uppercase;
        }
    }
}


@media (min-width: 768px) {
    header {
    margin-bottom: 0px;
  }
}

@media (min-width: 1280px) {}

@media (min-width: 1980px) {}