header {
    margin-bottom: 42px;

    width: 100%;
    
    & .intro {
        & p {
            background: var(--gradient-content);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font: var(--roboto-Mono);
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        & h1 {
            font: var(--display-md);
            text-transform: uppercase;
        }
    }
}


@media (min-width: 768px) {
    header {
        height: 300px;
        padding: 40px;
        justify-content: center;
        & .intro {

            & h1 {
                font-size: 48px;
                letter-spacing: 1px;
            }
        }
    }
}

@media (min-width: 1280px) {}

@media (min-width: 1980px) {}